# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/



# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Large data files (exceed GitHub 100MB limit)
data/raw/*.zip
data/raw/WIDER_val/
